*{
  margin:0px;
  padding: 0px;
}

body{
  background: #444;
  color: #fff;
}

#contenedor {
  width: 960px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}

header{
  height: 150px;
  background: rgb(248, 215, 29);
}

header h1 {
  font-size: 50px;
  text-align: center;
  line-height: 150px;
}

nav {
  background: rgb(220, 87, 87);
  height: 60px;
}

nav h2 {
  font-size: 40px;
  text-align: center;
  line-height: 60px;
}

#contenido {
  width: 700px;
  height: 500px;
  float: left;
  background: rgb(191, 103, 56);
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#contenido h2 {
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

aside {
  width: 250px;
  height: 500px;
  background: rgb(220, 87, 87);
  margin-top: 10px;
  float: right;
}

aside h2 {
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

footer {
  background: rgb(248, 215, 29);;
  clear: both;
}

footer h2 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

#header {
  background: rgb(220, 87, 87);
  margin:auto;
  width:80%;
  font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
  list-style:none;
}

.nav > li {
  float:left;
}

.nav li a {
  background-color:rgb(220, 87, 87);
  color:#ffffff;
  text-decoration:none;
  padding:21px 150px;
  display:block;
  text-shadow: #111 0px 0px 10px;
  transition: all 0.4s linear;
}

.nav li a:hover {
  background-color:#4B4D4A;
}
                  
.logo-nav-container{
  display: flex;
  justify-content: space-between;
}
                
.container{
  letter-spacing: 20px;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10rem;                        
}
              
